Repository playerony/drag-and-drop-state-machine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx stylelint --fix, eslint --cache --fix, prettier-package-json --write

fix: config
  .lintstagedrc
Due: none

fix: config
  public/fonts.css
Due: none

fix: config
  .lintstagedrc
  package.json
  public/fonts.css
Due: prettier-package-json --write

fix: config
  .lintstagedrc
  public/fonts.css
Due: none

fix: stylelint
  .lintstagedrc
  package-lock.json
  public/fonts.css
Due: none

fix: update commands
  package.json
Due: prettier-package-json --write

fix: update command
  package.json
Due: prettier-package-json --write

fix: command
  package.json
Due: prettier-package-json --write

🔧 ci: setup stylelint (#4)
  .github/workflows/ci-pipeline.yml
  .lintstagedrc
  .stylelintrc
  package-lock.json
  package.json
  public/fonts.css
Due: prettier-package-json --write

ci: add formatting for html files
  .eslintrc
  .prettierignore
  README.md
  package-lock.json
  package.json
  public/index.html
  src/index.js
  src/style.css
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

🔧 ci: add formatting for html files (#5)
  .eslintrc
  .prettierignore
  README.md
  package-lock.json
  package.json
  public/index.html
  src/index.js
  src/style.css
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

chore: create base machine with styles
  .eslintrc
  .lintstagedrc
  src/constants.js
  src/create-drag-and-drop-state-machine.function.js
  src/get-box-element-center-position.function.js
  src/index.js
  src/style.css
  src/utils/get-window-height.function.js
  src/utils/get-window-size.function.js
  src/utils/get-window-width.function.js
  src/utils/index.js
Due: prettier --write, eslint --cache --fix

✨ chore: create base machine with styles (#6)
  .eslintrc
  .lintstagedrc
  src/constants.js
  src/create-drag-and-drop-state-machine.function.js
  src/get-box-element-center-position.function.js
  src/index.js
  src/style.css
  src/utils/get-window-height.function.js
  src/utils/get-window-size.function.js
  src/utils/get-window-width.function.js
  src/utils/index.js
Due: prettier --write, eslint --cache --fix

chore: lock dragging on shift
  src/create-drag-and-drop-state-machine.function.js
  src/index.js
  src/style.css
Due: prettier --write, eslint --cache --fix

fix: destructing props
  src/index.js
Due: prettier --write, eslint --cache --fix

✨ chore: lock dragging on shift (#7)
  src/create-drag-and-drop-state-machine.function.js
  src/index.js
  src/style.css
Due: prettier --write, eslint --cache --fix

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-icy-sea-047eda303.yml
Due: none

ci: update deployment script
  .github/workflows/azure-static-web-apps-icy-sea-047eda303.yml
  .github/workflows/deploy-app.yml
Due: none

👷 ci: update deployment script (#8)
  .github/workflows/azure-static-web-apps-icy-sea-047eda303.yml
  .github/workflows/deploy-app.yml
Due: none

chore: print details about current state
  public/index.html
  src/index.js
  src/style.css
Due: prettier --write, eslint --cache --fix

💄 chore: print details about current state (#9)
  public/index.html
  src/index.js
  src/style.css
Due: prettier --write, eslint --cache --fix

refactor: improve format of the code
  public/index.html
  src/create-drag-and-drop-state-machine.function.js
  src/index.js
  src/style.css
  src/utils/get-box-element-center-position.function.js
  src/utils/index.js
Due: prettier --write, eslint --cache --fix

🎨 refactor: improve format of the code (#10)
  public/index.html
  src/create-drag-and-drop-state-machine.function.js
  src/index.js
  src/style.css
  src/utils/get-box-element-center-position.function.js
  src/utils/index.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{js,md}) or (any of: *.src/**/*)
  npx stylelint --fix: any of: *.{css}
  eslint --cache --fix: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: package.json
